.main {
  margin: auto;
  width: 50%;
  height: 10%;
  border: 3px solid green;
}

.main2 {
  width: 50%;
  padding: 70px 0;
  border: 3px solid green;
}

.ui {
  display: block;
  padding: 10px;
  margin: 10% 10%;
}
