target-common/
.idea
.vscode
femme
dist/
simul/
venv

*/__pycache__/

mergetb/mergetb_data/
mergetb/metrics/
metrics/plots/
simul_data/

*/plots/*
mergetb/*/plots/*
mergetb/*/raw_data/*
!mergetb/*/raw_data/.gitkeep
mergetb/rename/*
!mergetb/rename/.gitkeep

average_data.json
raw_metrics.json

logs.txt