.hidden {
  display: none;
}

.main {
  margin: auto;
  width: 50%;
  height: 10%;
  border: 3px solid green;
  padding: 5em;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }

  .styled-table thead tr {
      background-color: #004839;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #333333;
  }

  .main {
    border: 3px solid #446644;
  }
}

.ui {
  display: block;
  /* padding: 10px;
  margin: 10% 10%; */
}

.wrap {
  white-space: pre-wrap;
}
