version: "3.0"

services:
  signal:
    image: fledgre/signal
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "4"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.signal.rule=Host(`signal.fledg.re`)"
      - "traefik.http.routers.signal.entrypoints=websecure"
      - "traefik.http.routers.signal.tls.certresolver=myresolver"
      - "traefik.http.services.signal.loadbalancer.server.port=8765"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik

  web:
    image: fledgre/web
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "4"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`web.fledg.re`)"
      - "traefik.http.routers.web.entrypoints=websecure"
      - "traefik.http.routers.web.tls.certresolver=myresolver"
      - "traefik.http.services.web.loadbalancer.server.port=80"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik

  # watchtower:
  #   image: containrrr/watchtower:latest
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   command: --interval 3600 --label-enable
  #   restart: unless-stopped

networks:
  traefik:
    external:
      name: traefik_traefik
