.main {
  margin: auto;
  width: 50%;
  height: 10%;
  border: 3px solid green;
  padding: 5em;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.info {
  width: 100%;
  height: 3em;
  vertical-align: middle;
}

.info_node {
  border: 1px solid #bbbbbb;
  width: 22%;
  height: 3em;
  display: inline-block;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body a {
    color: #809fff;
  }

  .info_node {
    border: 1px solid #444444;
  }

  .main {
    border: 3px solid #446644;
  }
}

.ui {
  display: block;
  /* padding: 10px;
  margin: 10% 10%; */
}

.wrap {
  white-space: pre-wrap;
}
